<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vlad Bodrug | Software developer. More, than just a personal website.</title>
    <meta content="Reliable software architecture, advanced coding experience, more than 10 years of progressive software solutions planning and development. Contact me today!" name="description">
    <meta name="author" content="Vlad Bodrug">
    <meta property="og:title" content="Vlad Bodrug | Software developer. More, than just a personal website." />
    <meta property="og:description" content="Reliable software architecture, advanced coding experience, more than 10 years of progressive software solutions planning and development. Contact me today!" />
    <meta property="og:url" content="http://montiepy.me" />
    <meta property="og:image" content="https://montiepy.me/images/author.jpg" />
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
    <meta name="keywords" content="Software Development, Web Development, App Development, Custom Software, Software Solutions, Programming, Coding, Software Engineer, Tech Solutions, IT Services ">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    <!--Container-->
    <div class="container overflow-hidden w-full mx-auto pt-0 min-h-[500px]">
        <header class="flex items-center justify-between py-6 mb-4">
            <div class="flex relative items-center right-3 sm:right-0">
                <a asp-page="/" class="mr-6 w-1/5">
                    <img src="@Url.Content("../images/logo.png")" alt="Logo" class="w-full hidden sm:block">
                </a>
                <partial name="Partials/Menu">
            </div>
        </header>
        @RenderBody()
    </div>
    <!--/container-->
    <footer class="bg-white border-t mt-4 border-gray-400 shadow relative">
        <div class="container max-w-4xl mx-auto flex py-4">
            <div class="w-full mx-auto flex flex-wrap">
                <div class="flex w-full md:w-1/2 ">
                    <div class="px-8">
                        <h3 class="font-bold text-gray-900">About</h3>
                        <p class="py-4 text-gray-600 text-sm">
                            Oh my, believe me, I could write a lot of things in this separate "About" section, but still I think it will be better if you visit the
                            <a class="underline hover:no-underline" asp-page="/Bio">Bio page</a> instead.
                        </p>
                    </div>
                </div>
                <div class="flex w-full md:w-1/2">
                    <div class="px-8">
                        <h3 class="font-bold text-gray-900">Social</h3>
                        <ul class="list-reset items-center text-sm pt-3">
                            <li>
                                <a target="_blank" class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="https://www.linkedin.com/in/vlad-bodrug/">LinkedIn</a>
                            </li>
                            <li>
                                <a target="_blank" class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="https://www.facebook.com/rentals.avg">Facebook</a>
                            </li>
                            <li>
                                <a target="_blank" class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="https://www.youtube.com/@@rad_cultural">YouTube</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="absolute bottom-1 right-1">
            <p class="text-xs">v 1.0.0</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>