@page
@model montiepy2.Core.Pages.BioModel
@{
    ViewData["Title"] = "Bio";
}

<div class="presenter">
    <div class="flex">
        <div class="p-3">
            <div class="w-full mb-3">
                <h1 class="font-serif text-5xl text-center sm:text-left font-semibold">Bio</h1>
            </div>
            <div class="w-full sm:w-4/12 sm:flex-1 sm:float-right sm:relative sm:top-6">
                <img alt="bio page thumbnail" src="@Url.Content("../images/bio.png")" />
            </div>
            <div class="mt-4 bg-pantpink rounded p-6 w-full sm:w-7/12 sm:float-left">
                <p>So, the bio section. <br> It would've taken a long time to tell here about all my hobbies and turns in my life (and even cul de sacs), so I'll mention just basics, and will add some unimportant (but curious) details when I have time and inspiration for it, ok?</p>
                <br>
                <p>As for me - my country of origin is not so important. I'd rather mention the countries I am proud of living in. There are three of them - Ukraine, Romania and finally, Canada.</p>
                <p>Having romanian citizenship, I moved to Ukraine in 2019, and had lived there for 3 years, before the Great War began.I'd bought a house there, so now my only registered owned home is in Ukraine. Until it's not destroyed by a russian missile.</p>
                <p>But anyway, I'm not sure I'll ever come back to live in that country. 'Nuff said.</p>
                <br>
                <p>I'm a bachelor of arts in history, but never worked in this field. Right after university I began to study programming from scratch. My dream was to find a job as an IT specialist without any prior experience or apprenticeship, and I did it, when I was 25.</p>
                <p>And then my IT career started, and it still goes on.</p>
                <p>Even when I got my second degree (in Computer Science), I didn't stop to learn IT even further. I'm just not a person, who can stop at a particular level for years. I'm constantly learning some new things in IT.</p>
                <p>Software engineering, architecture principles, Agile, leadership theory, AI, even new programming languages - IT field is a really part of my life.</p>
                <p>My working experience includes a couple of outsource software development companies, a german health insurance giant, an international auto parts e-shop, and a canadian cryptocurrency mining infrastructure business.</p>
                <p>Yeah, a big lot of exciting experience, I can assure you.</p>
                <br>
                <p>Anyway, I know, that even bigger IT experience waits me ahead!</p>
            </div>
        </div>
    </div>
</div>