@page
@model montiepy2.Core.Pages.BlogModel
@{
    ViewData["Title"] = "Blog";
}

<div class="presenter">
    <div class="flex">
        <div class="p-3">
            <div class="w-full mb-3">
                <h1 class="font-serif text-5xl text-center sm:text-left font-semibold">Blog</h1>
            </div>
            <div class="w-full sm:w-4/12 sm:flex-1 sm:float-right sm:relative sm:top-6">
                <img alt="blog page thumbnail" src="@Url.Content("../images/blog.jpg")" />
            </div>
            <div class="mt-4 bg-pantpink rounded p-6 w-full sm:w-7/12 sm:float-left">
                <p>Do you have a hobby, which still goes on from your childhood?</p>
                <p>I do. It's writing. I used to write a big lot of different things since I was 7-8 years old.</p>
                <p>Fiction, poems, diaries, reviews, just some regular thoughts, etc.</p>
                <p>All this writing experience has one common peculiarity - I've never published anything I wrote.</p>
                <p>More than that: the major part of those writings doesn't exist anymore. And it was barely read by anybody at all.</p>
                <p>That's why, when first half of my life is left behind - I decided to publish my thoughts here - on my website.</p>
                <br>
                <p>The topics could be (and will be) really different: from computer science to politics. Unfortunately - these thoughts could be inappropriate to someone. I'm really sorry for that, but the older I am - the less pacience, humanity and objectiveness I have.</p>
                <p>So no matter, how many people will read my thoughts here - it won't be any possibility to leave a comment here, to share any of the entries to any social media account or even rate it in any way (I'm thinking of implementing likes' logic here though). You can just read it, and find out the date it was written.</p>
                <br>
                <p>Enjoy (good luck with that).</p>
            </div>
            <div class="list mt-3 sm:relative sm:top-4 sm:clear-both">    
                @Html.DisplayFor(model => model.BlogEntries)
            </div>
        </div>
    </div>
</div>