@page
@model montiepy2.Core.Pages.BooksModel
@{
    ViewData["Title"] = "BookReviews";
}

<div class="presenter mb-5">
    <h1 class="font-serif text-5xl font-semibold">Books reviews</h1>
    <br>
    <div class="flex">
        <div class="w-8/12 flex-none pr-3">
            <div class=" bg-pantpink rounded p-6">
                <p>Reading is my another biggest hobby besides software development.</p>
                <p>The world is constantly changing around me. My life could be boring or exciting, moneyless or posh, straight or full of turns. But it looks like just one thing in it remains always constant: I read.</p>
                <p>I'm always reading books, articles, magazines.</p>
                <p>The only thing that disappoints me here - I consider, that every single hobby should be useful in any way. You should see a result of it. Otherwise - there is no point to spend hours on it.</p>
                <br>
                <p>Unfortunately - reading doesn't provide me any feasible result, other that pleasure and my reading skills in english.</p>
                <p>This section - is my try to make another reason of this hobby. Writing reviews to the books I love or hate - I hope, it will be useful at least for anybody.</p>
                <br>
                <p>After all - how else could I prove I've read all those books, huh?</p>
            </div>
        </div>
        <div class="w-48 flex-1">
            <img src="@Url.Content("../images/books.jpg")" />
        </div>
    </div>
</div>

<div class="list">    
    @Html.DisplayFor(model => model.BookReviewEntries)
</div>