@page
@model montiepy2.Core.Pages.RadioModel
@{
    ViewData["Title"] = "Radio";
}

<div class="presenter">
    <h1 class="font-serif text-5xl font-semibold">Radio</h1>
    <br>
    <div class="flex">
        <div class="w-8/12 flex-none pr-3">
            <div class=" bg-pantpink rounded p-6">
                <p>"What? Are you listening radio? In 21st century?? What's wrong with you???"<br>
                You see, my dear friends, for me - radio is not just a random background music, which usually plays in cars. Oh no. Radio - is the whole world, opened for you without any internet connection or other advanced networking. </p>
                <p>And speaking about "whole world" - I mean not FM radio stations, but rather AM and, especially SW stations, which literally broadcast for every corner of our planet.</p>
                <p>Short waves are really a pure magic. You can listen both radio enthusiasts or official short-waves broadcasters from the whole world right from your home, and all you need for this - is just your radio!</p>
                <p>If you'd like - you could be just an advanced DXer, of even more - you can send a SINPO report and obtain a QSL-card in exchange!</p>
                <p>Hell yeah, you can be a part of this 100-year community as well. And all you need for this, once again - it's just a regular SW-radio. And that's it.</p>
                <p>I began to be a part of this movement back in 2016. I received a lot of QSL-cards, gifts and postcards from KBS World Radio, RSI, RRI, NHK WORLD. Once I'd been giving an 30 mins interview for a journalist, who called me right from Seoul. And the only thing I did for all of these things - I was just listening the radio.</p>
                <p>It's the whole world. Yet unknown, maybe, and pretty difficult followed, but the more captivating it is.</p>
                <p>Below you can find several links to the resources, which will help you to dive in this astonishing world.</p>
                <p>Also - there are some links to the recent episodes of overview of the radio world, made by Glenn Hauser - a man, who dedicated all his life to amateur SW-radio brodcasting and DX-ing. He's doing this podcast for decades, and is doing it damn good.</p> 
            </div>
        </div>
        <div class="w-48 flex-1">
            <img src="@Url.Content("../images/radio.jpg")" />
        </div>
    </div>
</div>

<div class="main-content overflow-hidden my-7">
    <div id="glennhauser" class="float-left">
        <h3 class="text-lg mb-2">Last Glenn Hauser's broadcasts:</h3>
        <div class="list border border-black w-60 text-right p-4">
            @Html.DisplayFor(model => model.RadioEntries)
        </div>
    </div>
    <div id="radiolinks" class="float-right mr-10 max-w-xl">
        <h3 class="text-lg mb-2">Resources about shortwave radio and QSL:</h3>
        <ul class="list-disc">
            <li><a class="underline hover:no-underline" target="_blank" href="https://www.short-wave.info/">Short-Wave.Info</a> - current schedule for over 50 shortwave radio stations, with frequences</li>
            <li><a class="underline hover:no-underline" target="_blank" href="https://www.dxzone.com/">DX Zone</a> - a big resource, dedicated to DX shortwave listening. A lot of software, howto-s, reviews, ratings, radio news</li>
            <li><a class="underline hover:no-underline" target="_blank" href="http://www.worldofradio.com/">World of Radio</a> - Glenn Hauser's website with all the podcasts, collection of his QSL-cards and much, much more</li>
            <li><a class="underline hover:no-underline" target="_blank" href="http://websdr.ewi.utwente.nl:8901/">Twente shortwave radio receiver</a> - A real web-based radio receiver, which you can tweak and set remotely! Could be a very good opportunity for the beginners, who don't have a shortwave radio receiver</li>
        </ul>
    </div>
</div>
