@page
@model montiepy2.Core.Pages.RomaniaModel
@{
    ViewData["Title"] = "Romania";
}

<div class="presenter">
    <h1 class="font-serif text-5xl font-semibold">Romania</h1>
    <br>
    <div class="flex">
        <div class="w-8/12 flex-none pr-3">
            <div class=" bg-pantpink rounded p-6">
                Romania - is a very beautiful country.<br>
                It's a part of my life, of my ancestors' history, of my soul.<br>
                Unfortunately, this country is still really underestimated. By other european countries, by romanians themselves, sometimes - even by people from other continents.<br>
                But despite many opinions and rumours - Romania is a country with a great history, great people and great nature.
                As a historian - I don't know another country, who suffered more tragical historical twists during the XXth century. As a foodie - I don't know a better cuisine. As a nature lover - I don't know where else I can find such a big amount of astonishing views and picturesque landscapes.
                What else could be found out about Romania?
                <ul class="list-disc pl-9">
                    <li>Romania has <a target="_blank" class="underline hover:no-underline" href="https://www.welcometoromania.eu/Bucuresti/Bucuresti_Palatul_Parlamentului_e.htm">the world’s second largest administrative building</a> after the Pentagon</li>
                    <li>Romania has <a target="_blank" class="underline hover:no-underline" href="https://www.welcometoromania.eu/Sinaia/Sinaia_Castelul_Peles_e.htm">Europe’s first electrified castle</a></li>
                    <li>Romania has one of the <a target="_blank" class="underline hover:no-underline" href="https://www.welcometoromania.eu/DN7c/DN7c_Drumul_Transfagarasan_e.htm">world’s most beautiful highways</a></li>
                    <li>Romania has the <a target="_blank" class="underline hover:no-underline" href="https://www.welcometoromania.eu/Timisoara/Timisoara_Timisoara_e.htm">first city in Europe, which had electric street lamps</a></li>
                    <li>Romania has <a target="_blank" class="underline hover:no-underline" href="https://www.welcometoromania.eu/DN57/DN57_Decebal_e.htm">Europe's largest rock sculpture</a></li>
                </ul>
                Is that all? OMG, no.<br>
                <a target="_blank" class="underline hover:no-underline" href="https://www.welcometoromania.eu/DN18_Sighet_Baia_Mare/DN18_Sighet_Baia_Mare_Sapanta_Cimitirul_Vesel_e.htm">The Merry Cemetery</a>, <a target="_blank" class="underline hover:no-underline" href="https://www.worldrecordacademy.org/architecture/worlds-tallest-wooden-church-sapanta-peri-monastery-219288">the tallest wooden church in the world</a>, <a target="_blank" class="underline hover:no-underline" href="https://www.welcometoromania.eu/Apuseni/Apuseni_Pestera_Scarisoara_e.htm">underground glaciers</a>, a <a target="_blank" class="underline hover:no-underline" href="https://hoiabaciuforest.com/en/the-enigmatic-and-haunting-world-of-hoia-baciu-forest/">paranormal forest</a>, tons and tons of waterfalls, caves, hiking paths and mountain views - that's the real Romania.
            </div>
        </div>
        <div class="w-48 flex-1">
            <img src="@Url.Content("../images/romania.jpg")" />
        </div>
    </div>
</div>

<div class="main-content overflow-hidden my-7">
    <div class="float-left mr-10 max-w-xl">
        <h3 class="text-lg mb-2">The most interesting resources about Romania:</h3>
        <ul class="list-disc">
            <li><a class="underline hover:no-underline" target="_blank" href="https://www.welcometoromania.eu/">Welcome to Romania</a> - a comprehensive resource about all the possible touristic objectives in Romania.</li>
            <li><a class="underline hover:no-underline" target="_blank" href="https://www.rri.ro/en">Radio Romania International</a> - all the recent news, articles and cultural events.</li>
            <li><a class="underline hover:no-underline" target="_blank" href="https://romaniatourism.com/">Romania - natural and cultural</a> - another great resource. Diverse travel and tourism information, itineraries and tours.</li>
            <li><a class="underline hover:no-underline" target="_blank" href="https://www.uncover-romania.com/">Uncover Romania</a> - vacation ideas, travel articles and photos.</li>
            <li><a class="underline hover:no-underline" target="_blank" href="https://www.uncover-romania.com/about-romania/history/">  Brief History of Romania</a> - From ancient tribes to communist dictators</li>
        </ul>
    </div>
</div>