@page
@model montiepy2.Core.Pages.RomaniaModel
@{
    ViewData["Title"] = "Romania";
}

<div class="presenter">
    <h1 class="font-serif text-5xl font-semibold">Romania</h1>
    <br>
    <div class="flex">
        <div class="w-8/12 flex-none pr-3">
            <p class=" bg-pantpink rounded p-6">
                Romania - is a very beautiful country.<br>
                It's a part of my life, of my ancestors' history, of my soul.<br>
                Unfortunately, this country is still really underestimated. By other european countries, by romanians themselves, sometimes - even by people from other continents.<br>
                But despite many opinions and rumours - Romania is a country with a great history, great people and great nature.
                As a historian - I don't know another country, who suffered more tragical historical twists during the XXth century. As a foodie - I don't know a better cuisine. As a nature lover - I don't know where else I can find such a big amount of astonishing views and picturesque landscapes.
                What else could be found out about Romania?
                <ul>
                    <li></li>
                </ul>
            </p>
        </div>
        <div class="w-48 flex-1">
            <img src="@Url.Content("../images/radio.jpg")" />
        </div>
    </div>
</div>