@page
@model montiepy2.Core.Pages.Private.BlogModel
<button type="button" class="btn btn-primary" attr-url="@Url.Action("AddBlogEntry", "Private", null)" id="addBlogEntry">Add a blog entry</button>
<div class="list mt-5">    
    @Html.DisplayFor(model => model.BlogEntries)
</div>