@page
@model montiepy2.Pages.BooksModel
@{
    ViewData["Title"] = "BookReviews";
}

<div class="presenter">
    <h1 class="font-serif text-5xl font-semibold">Books reviews</h1>
    <br>
    <div class="flex">
        <div class="w-8/12 flex-none pr-3">
            <p class=" bg-pantpink rounded p-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in scelerisque erat, in tempor libero. In at est venenatis, pellentesque erat vel, sagittis enim. Cras eget ornare orci, sed egestas sapien. Fusce lobortis urna at interdum commodo. Sed gravida nulla eget pretium facilisis. Phasellus faucibus lacus ligula, at volutpat sapien venenatis non. Integer interdum tempus pretium. Praesent vel placerat enim. Morbi euismod risus eu iaculis pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla aliquam, orci et imperdiet auctor, risus massa elementum sem, ac scelerisque libero ex et eros. Nullam eu arcu eu purus semper ullamcorper. Nulla facilisis erat vel ex finibus, in congue ipsum pulvinar. Suspendisse nunc turpis, vestibulum a elit nec, efficitur suscipit est.

            </p>
        </div>
        <div class="w-48 flex-1">
            <img src="@Url.Content("../images/radio.jpg")" />
        </div>
    </div>
</div>

<div class="list">    
    @Html.DisplayFor(model => model.BookReviewEntries)
</div>