@model montiepy2.Models.BlogEntry
<div class="post mb-8">
    <p class="text-pantpink uppercase text-lg mb-2">@Model.Title</p>
    <p class="date text-xs italic text-pantpink mb-2 font-bold">@Model.Date.ToString()</p> 
    <p class="text-base">@Model.Text</p>
</div>

