@model montiepy2.Models.RadioEntry
<div class="post mb-8">
    <p class="text-pantpink uppercase text-lg mb-2">@Model.Url</p>
    <p class="date text-xs italic text-pantpink mb-2 font-bold">@Model.Date.ToString("yyyy-MM-dd")</p>
</div>